@import 'tailwindcss';

body {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: rgb(228 244 198);
  /* background-color: rgb(186, 186, 186); */
}
&::-webkit-scrollbar {
  width: 1rem;
}
&::-webkit-scrollbar-track {
  background: #333333;
}
&::-webkit-scrollbar-thumb {
  background-color: mediumpurple;
  border-radius: 1rem;
  border: 2px solid #333333;
}

@layer components {
  .card {
    @apply border border-gray-300 p-6 bg-slate-200 shadow-2xl hover:shadow-red-500 transition hover:scale-105 flex flex-col justify-between z-10  hover:scale-105;
  }
}
